<header class = "jumbotron">
  <h1>Fake Craigslist</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'about'}}Learn about fake craigslist{{/link-to}}
  {{#link-to 'index'}}Go Home{{/link-to}}
</footer>
