<h1> Welcome to {{model.name}} listings </h1>

{{new-listing save2="save3" category=model}}

<ul>
{{#each model.listings as |listing|}}

  <li>{{#link-to 'listing' listing.id}} {{listing.title}}{{/link-to}}</li>
{{/each}}
</ul>




{{category-tile category=model destroyCategory="destroyCategory"}}
